---
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import RealizationsSection from '../components/RealizationsSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Bluesoft - Technologia na najwyższym poziomie">
	<Navigation />
	<main>
		<Hero />
		<ServicesSection />
		<RealizationsSection />
	</main>
	<Footer />
</MainLayout>
